*{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

body{
    background-color: hsl(233, 47%, 7%);
    color: white;
}

div#card{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-wrap: nowrap;
    margin: 8em 10% 0;
    border-radius: 1em;
}

section#image_mobile{
    display: none;
}

img#mobile{
    display: none;
}

section#text{
    margin: 4.5em;
    width: 50%;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
}

span#violet{
    color: hsl(277, 64%, 61%);
    font-size: 1em;
    
}

p#text{
    margin: 5% 0;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.3em;
}

div#stat{
    margin-top: 15%;
    text-transform: uppercase;
    display: flex;
    align-content: space-between;
}

div.stat_container{
    margin: 5%;
}

h2.stat_num{
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    text-decoration: double;
}

p.stat_text{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    margin-top: 3%;
}

span#exception{
    text-transform: lowercase;
    font-size: 1em;
}

section#image_desktop{
    display: block;
    width: 50%;
    background-color: hsl(277, 100%, 31%);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

img#image_desktop{
    display: block;
    height: 100%;
    width: 100%;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    opacity: 55%;
}

div#data{
    width: 100%;
    text-align: center;
    margin-bottom: 8em;;
}

@media (max-width: 1024px) {
    div#card{
        margin: 6em 10% 0;
        display: flex;
        flex-wrap: wrap;
    }

    section#image_mobile{
        display: block;
        width: 100%;
        background-color: hsl(277, 100%, 31%);
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
    }

    img#image_mobile{
        display: block;
        height: 100%;
        width: 100%;
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
        opacity: 55%;
    }

    section#text{
        margin: 5em 7em;
        width: 100%;
        text-align: center;
    }
    
    h1{
        font-family: 'Inter', sans-serif;
        font-size: 4em;
    }

    p#text{
        margin: 10% 5%;
        color: hsla(0, 0%, 100%, 0.75);
        font-family: 'Lexend Deca', sans-serif;
        font-size: 2.3em;
        line-height: 2em;
    }

    div#stat{
        margin-top: 15%;
        text-transform: uppercase;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    h2.stat_num{
        font-family: 'Inter', sans-serif;
        font-size: 3.8em;
        text-decoration: double;
    }
    
    p.stat_text{
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        font-size: 2em;
        margin-top: 3%;
    }

    section#image_desktop{
        display: none;
    }
    
    img#image_desktop{
        display: none;
    }
}

@media (max-width: 768px) {
    
    section#text{
    margin: 3em 4.5em;
    width: 100%;
    text-align: center;
    }    

    h1{
        font-family: 'Inter', sans-serif;
        font-size: 2.2em;
    }

    p#text{
        font-size: 1.1em;
    }

    h2.stat_num{
        font-size: 1.8em;
    }

    p.stat_text{
        font-size: 1.1em;
    }

}

@media (max-width: 480px) {
    
    section#text{
    margin: 2em 1.5em;
    width: 100%;
    text-align: center;
    }    

    h1{
        font-family: 'Inter', sans-serif;
        font-size: 1.7em;
    }

    p#text{
        font-size: 0.8em;
    }

    h2.stat_num{
        font-size: 1.5em;
    }

    p.stat_text{
        font-size: 0.9em;
    }

}